{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Robin Muller">

    <title>Robin's Network</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'js/gritter/css/jquery.gritter.css' %}" />

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">

    <script src="{% static 'js/chart-master/Chart.js' %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body >

<section id="container" style="    background-color: silver;" >
      <!--header start-->
      <header class="header black-bg" style="background-color: black">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>Robin's Network</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- inbox dropdown start-->
                    {% if request.user.is_authenticated %}
                    <!--<li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge">5</span>
                        </a>

                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-black"></div>
                            <li>
                                <p class="black">Vous avez 1 message !</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="{% static 'img/user_message.png' %}"></span>
                                    <span class="subject">
                                    <span class="from">Steve Jobs</span>
                                    <span class="time">Il y a 5 minutes</span>
                                    </span>
                                    <span class="message">
                                        Hello Robin ! Comment allez-vous ?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">Voir tous les messages</a>
                            </li>
                        </ul>

                    </li>-->
                    {% endif %}
                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    {% if request.user.is_authenticated %}
                        <li><a class="logout" href="{% url 'user_logout' %}">Déconnexion</a></li>
                    {% else %}
                        <li><a class="logout" href="{% url 'user_login' %}">Connexion</a></li>
                        <li><a class="logout" href="{% url 'user_register' %}">inscription</a></li>
                    {% endif%}
            	</ul>
            </div>
        </header>
      <!--header end-->

      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  {% if request.user.profile_picture.picture %}
                    <p class="centered"><a href="{% url 'upload_profile_picture' %}"><img src="{{ request.user.profile_picture.picture.url }}" class="img-circle" width="150"></a></p>
                  {% else %}
                    <p class="centered"><a href="{% url 'upload_profile_picture' %}"><img src="{% static 'img/profile_picture.jpg' %}" class="img-circle" width="150"></a></p>
                  {% endif %}
                  {% if request.user.is_authenticated %}
                    <br>
                    <h4 class="centered" style="color: white">{{ request.user.user_profile.first_name }} {{ request.user.user_profile.last_name }}</h4>
                    <hr>
                    <li><a href="{% url 'read_profile' request.user.id %}">Profil</a></li>
                    <li><a href="{% url 'edit_profile'  %}">Editer le Profil</a></li>
                    <li><a href="{% url 'upload_profile_picture'  %}">Modifier la photo de profil</a></li>
                  {% endif %}
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <div class="row">
                  <div class="col-lg-9 main-chart">
                       <section id="content">
                           <!-- *********************** MAIN CONTENT ********************************* -->
                           <h3> {% block title %}{% endblock %}</h3>
                           <hr>
                           <p>
                               {% block content %}{% endblock %}
                           </p>
                           <!-- ********************** END MAIN CONTENT ******************************* -->
                       </section>
                  </div><!-- /col-lg-9 END SECTION MIDDLE -->
                  <div class="col-lg-3 ds">
                      {% if request.user.is_authenticated %}
                        <!--COMPLETED ACTIONS DONUTS CHART-->
                        <!--<h3>NOTIFICATIONS</h3>

                        &lt;!&ndash; First Action &ndash;&gt;
                        <div class="desc">
                            <div class="thumb">
                                <span class="badge"><i class="fa fa-clock-o"></i></span>
                            </div>
                            <div class="details">
                                <p><muted>Il y a 3 heurs</muted><br/>
                                    <a href="#">Emmanuel Macron</a> Vous a ajouté en ami !<br/>
                                </p>
                            </div>
                        </div>-->
                      {% endif %}
                  </div><!-- /col-lg-3 -->
              </div><! --/row -->
          </section>
      </section>
      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2021 - Robin Muller
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script class="include" type="text/javascript" src="{% static 'js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.sparkline.js' %}"></script>

    <!--common script for all pages-->
    <script src="{% static 'js/common-scripts.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/gritter/js/jquery.gritter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/gritter-conf.js' %}"></script>

    <!--script for this page-->
    <script src="{% static 'js/sparkline-chart.js' %}"></script>
  </body>
</html>
